@font-face {
    font-family: "Bricolage Grotesque";
    src: url("../../../assets/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf")
        format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

.navin__cyan {
    color: #62ffff;
}

.how__section {
    padding-block: 5rem;
}

.how__section__header {
    font-family: "Bricolage Grotesque", sans-serif;
    margin-bottom: 3rem;
    font-weight: 400;
    font-size: 1.5rem;
}

.how__item__container {
    display: flex;
    flex-direction: column;
    gap: 2.125rem;
}

.how__section__item {
    padding-inline: 1rem;
}

.how__article__header {
    font-family: "Bricolage Grotesque", sans-serif;

    font-size: 1.125rem;
    margin-block-end: 0.75rem;
}

.how__article__description {
    font-size: 1rem;
}

@media (min-width: 768px) {
    .how__section__header {
        font-size: 2.25rem;
    }

    .how__item__container {
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        text-align: left;
        justify-content: center;
    }

    .how__section__item {
        padding-inline: 1rem;
        max-width: 21.5rem;
    }
}

@media (min-width: 1024px) {
    .how__section__header {
        font-size: 3.25rem;
    }

    .how__section__item {
        padding-inline: 1rem;
        max-width: 26.125rem;
    }
}
